./ssh/*
./.terraform/
./terraform*
ssh/tf
ssh/tf.pub
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/darwin_amd64/CHANGELOG.md
.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/darwin_amd64/LICENSE
.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/darwin_amd64/terraform-provider-digitalocean_v2.17.1
.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/darwin_amd64/README.md
